/* Import fonts */
  @import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Common styles*/
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Courier Prime", 'Courier New';
    display:flex;
    flex-direction: column;
    background-color: #FFCC7F;
}
/* End of common styles*/

/* header*/
.header {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    background-color: #DD9529;
}

.brand {
    display:flex;
    align-items:center;
    flex-direction: row;
    text-transform: uppercase;
    font-size: 1.8rem;    
    letter-spacing: .1rem;
    color:#8C5400;
    background-color: #DD9529;
    z-index: 10;
}

.brand img {
    height: 5rem;
}

.brand-heading {
    margin:0;
    padding-left: .5rem;
}

/* Navicon and navbar*/
.navicon {
    right: 1rem;
    top: 1rem;
    padding-right: .5rem;
    display:flex;
    align-items:center;
    font-size: 3rem;
    color:#8C5400;
    z-index: 10;
}

.navbar {
    position: absolute;
    background-color: #DD9529;
    width: 100%;
    top:-35rem;
    right:0rem;
    transition: top 1.5s;
    z-index: 9;
}

.navbar-list {
    list-style-type: none;
    font-size: 2rem;    
    padding: 0 1.5rem;
}

.navbar-list-item {
    color:#8C5400;  
    text-decoration: none;
}

#checkbox:checked ~ .navbar{
    top:5rem;
}
/* End of navicon and navbar*/
/* end of header */

/* Main Content*/
.introduction {
    text-align: center;
    margin-top: 6rem;
}

.introduction-heading {
    padding: 0 1rem;
    font-size: 1.5rem;
}

.introduction-paragraph {
    padding: 0 1rem;
    font-size: 1.2rem;
}

.history-heading {
    padding: 0 1rem;
    font-size: 1.2rem;
    font-style: normal;
    text-align: justify;
}

.history-paragraph {
    padding: 0 1rem;
    font-size: 1rem;

}
/* End of Main Content*/

/* footer */

.footer {
    display: flex;
    bottom:0;
    width: 100%;
    height: 4.5rem;
    background-color: #DD9529;   
}

.social-networks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 3rem;
}

.social-networks-link {
    color: #8C5400;
    text-decoration: none;
}

.social-networks-link:hover {
    color: #fff;
}

/* end of footer */

