/* Import fonts */
  @import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Common styles*/
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

main{
    min-height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Courier Prime", 'Courier New';
    display:flex;
    flex-direction: column;
    background-color: #FFCC7F;
}

/* End of common styles*/

/* header*/
.header {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    background-color: #DD9529;
}

.brand {
    display:flex;
    align-items:center;
    flex-direction: row;
    text-transform: uppercase;
    font-size: 1.8rem;    
    letter-spacing: .1rem;
    color:#8C5400;
    background-color: #DD9529;
    z-index: 10;
}

.brand img {
    height: 5rem;
}

.brand-heading {
    margin:0;
    padding-left: .5rem;
    text-shadow: 1px 1px black;
}

/* Navicon and navbar*/
.navicon {
    right: 1rem;
    top: 1rem;
    padding-right: .5rem;
    display:flex;
    align-items:center;
    font-size: 3rem;
    color:#8C5400;
    z-index: 10;
}

.navbar {
    position: absolute;
    background-color: #DD9529;
    text-shadow: 1px 1px black;
    width: 100%;
    top:-35rem;
    right:0rem;
    transition: top 1.5s;
    z-index: 9;
}

.navbar-list {
    list-style-type: none;
    font-size: 1.8rem;    
    padding: 0 1.5rem;
}

.navbar-list li {
    padding: 0.2rem 0;      
}

.navbar-list-item {
    color:#8C5400;  
    text-decoration: none;
}

#checkbox:checked ~ .navbar{
    top:5rem;
}
/* End of navicon and navbar*/
/* end of header */

/* Main Content */
/* main content common styles*/

.introduction {
    text-align: center;
    margin-top: 6rem;
}

.introduction-heading {
    padding: 0 1.5rem;
    font-size: 1.5rem;
}

.introduction-paragraph {
    padding: 0 1.5rem;
    font-size: 1.2rem;
}
/* end of main content common styles*/
/* home page*/

.history-heading {
    padding: 0 2rem;
    font-size: 1.2rem;
    font-style: normal;
    text-align: justify;
}

.history hr {
    margin: 0 4rem 0 2rem;
    border: solid .1rem;
    color: #8C5400;
}

.history img {
    display: block;
    margin-left: 2rem;
    margin-right: auto;
    width: 80%;
    padding: 1rem 0rem;
}

.history-paragraph {
    padding: 0 2rem;
    font-size: 1.2rem;
}
/* end home page*/

/* recipe */

.recipe h2 {
    font-size: 1.3rem;
}

.recipe h3 {
    margin: 0 5rem 0 2rem;
}

.recipe hr {
    margin: 0 5rem 0 2rem;
    border: solid .1rem;
    color: #8C5400;
}

.recipe img {
    display: block;
    margin-left: 2rem;
    margin-right: auto;
    width: 80%;
    padding: 1rem 0rem;
}

.ingredients-heading, .instructions-heading {
    padding: 0 1rem;
    font-size: 1.2rem;
    font-style: normal;
    text-align: center;
}

.ingredients ul , .instructions ol{
    margin-left: 0rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.ingredients-list-ragout li , .ingredients-list-bechamel li , .ingredients-list-others li{
    list-style-position: inside;
    list-style-type:circle;
}

.instructions-list-ragout li , .instructions-list-bechamel li , .instructions-list-others li, .instructions-list-assembly li{
    list-style-position: inside;
}



/* end of recipe */

/* contact */

.contact-wrapper {
    display: flex;
    flex-direction: column;    
}

.contact-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    padding: 2rem;  
}

.contact-form {
    margin-left: 10%;
    margin-right: auto;
    padding: 0 0 3rem 0;
}
.contact-form label {
    font-family: inherit;
    font-size: 1.2rem;
    margin: 0.5rem;
}
.contact-form input[type=text],input[type=email] {
    border: solid .1rem #8C5400;
    background-color:#FFCC7F;
    font-family: inherit;
    font-size: 1.2rem;
    margin: 0.5rem;
}

.contact-form textarea {
    border: solid .1rem #8C5400;
    background-color:#FFCC7F;
    font-family: inherit;
    font-size: 1.2rem;
    margin: 0.5rem;
    width:33vh;    
    height:7rem; 
}

.contact-form input[type=submit], input[type=reset] {
    margin-left: 0.5rem ;
    font-family: inherit;
    font-size: inherit;
    border: solid .1rem #8C5400;
    background-color:#FFCC7F;
    border-radius: 1rem;
}

.contact-form input[type=submit]:hover, input[type=reset]:hover{
    cursor: pointer;
    background-color: #8C5400;
    color: #FFCC7F;
    border: solid 2px;
}

/* end of contact */
/* end of Main Content*/

/* footer */

.footer {
    display: flex;
    bottom:0;
    width: 100%;
    height: 4.5rem;
    background-color: #DD9529;   
}

.social-networks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 3rem;
}

.social-networks-link {
    color: #8C5400;
    text-decoration: none;
}

/* end of footer */

/* Media query: screens above 720px*/
@media screen and (min-width: 720px) {
    html {
        font-size: 100%;
    }     

    .introduction-heading {
        font-size: 1.7rem;
    }

    .history-heading {
        font-size: 1.5rem
    }          
    
    .ingredients-heading, .instructions-heading {
        font-size: 1.5rem;
    }

}  


/* Media query: screens above 720px*/
@media screen and (min-width: 720px) {
    html {
        font-size: 100%;
    }     

    .introduction-heading {
        font-size: 1.7rem;
    }

    .history-heading {
        font-size: 1.5rem
    }          
    
    .ingredients-heading, .instructions-heading {
        font-size: 1.5rem;
    }

}  

/* Media query: screens above 1050px*/
@media screen and (min-width: 1050px) {
    html {
        font-size: 120%;
    } 
    
    .history-wrapper div {
        max-width: 50%;
    } 

    .history-wrapper {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;   
    }  

    .ingredients div {
        max-width: 50%;
    } 
    
    .ingredients {
    display:flex;
    flex-wrap: wrap;   
    } 
    
    .instructions div{
        max-width: 50%;
    } 
    
    .instructions {
    display:flex;
    flex-wrap: wrap;   
    }  
    
    .recipe-wrapper {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;   
    }  
    
    .contact-wrapper  {
        display:flex;
        flex-direction: row;
        align-items: center;
    }  
        
    .contact-img {
        margin:0;
        max-width: 50%;
    }  
        
    .contact-form {
            max-width: 50%;
    }  

    .social-networks-link:hover {
        color: #FFCC7F;
    }

    .navicon {
        display:none;
    }
        
    .navbar {
    position:fixed;
    top:0;
    height: 5rem;    
    width: fit-content; 
    display:flex;    
    align-items:center;
    }
        
    .navbar-list  {
        margin:0;
        display:flex;        
    }
        
    .navbar-list  li {
        padding-left:1.5rem;
    }  

    .active-page {
        border-top:#FFCC7F 2px solid;
        border-bottom:#FFCC7F 2px solid;
    } 
}   