/* Import fonts */
  @import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Common styles*/
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Courier Prime", 'Courier New';
}
/* End of common styles*/

/* header*/
.header {
    display: flex;
    background-color: #DD9529;
}

.brand {
    display:flex;
    align-items:center;
    flex-direction: row;
    text-transform: uppercase;
    font-size: 1.8rem;    
    letter-spacing: .1rem;
    color:#8C5400;
    background-color: #DD9529;
}

.brand img {
    height: 5rem;
}

.brand-heading {
    margin:0;
}


/* Navicon and navbar*/
.navicon {
    position: fixed;
    right: 1rem;
    top: 1rem;
    display:flex;
    align-items:center;
    font-size: 3rem;
    color:#8C5400;
}

.navbar {
    position: absolute;
    background-color: #DD9529;
    top:5rem;
    right:0;
    display:none;
}

.navbar-list {
    list-style-type: none;
    font-size: 2rem;    
    padding: 0 1rem;
}

.navbar-list-item {
    color:#8C5400;  
    text-decoration: none;
}

#checkbox:checked ~ .navbar{
    display:block;
}



/* End of navicon and navbar*/
/* end of header */

